p{
    margin-bottom: 2px;
}

.contactView{
    display: flex;
    flex-wrap: wrap;
}

.viewComp{
    flex: 0 0 50%;
    display: inline-grid;
    padding: 0 10px;
    margin: 10px 0px;
    justify-items: center;
}

.btnHolder{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.updateBtn{
    padding: 5px 10px;
    background-color: #11e811;
    color: #0a0707;
    font-weight: 600;
    outline-style: double;
}

.delBtn{
    background-color: #f72f2f;
}