.contact{
    flex-direction: column;
}

.left {
    flex-direction: column;
    height: 60vh;
    overflow: auto;
    scrollbar-width: thin;
    flex-wrap: nowrap;
}

.contactItem{
    flex:0;
}

.contactContainer {
    display: flex;
    margin-top: 25px;
}